html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F8F9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F3;
  flex: 1;
}

.splash {
  background-color: #FFFAFA;
  position: absolute;
  height: 100vh;
  width: 600px;
  opacity: 1;
  transition: opacity 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.splash img {
  width: 192px;
  height: 192px;
}

.progress-container {
  width: 192px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.25s ease-out;
  margin-top: 40px;
}

.progress-bar {
  display: block;
  height: 100%;
  background-color: #2B6747;
  width: 0;
  border-radius: 10px;
  transition: width 0.5s ease;
}

#flutter-view {
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: #F7F8F9;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-out;
}
