/* Resetting box-sizing for consistency */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F3;
  flex: 1;
}

#flutter-view {
  flex: 1;
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: #F7F8F9;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  overflow-y: auto;
  transition: opacity 0.4s ease-out;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #250902;
  color: #EDF2EF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  flex-shrink: 0; /* Prevents header from shrinking */
  font-family: 'SUITE', sans-serif;
}

#messageListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.select-all-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  border-bottom: 1px solid #ccc; /* bottom border */
  margin-bottom: 8px;
  background: none; /* remove background */
  flex-shrink: 0; /* Prevents the select-all container from shrinking */
  justify-content: space-between; /* Add space between elements */
}

.select-all-container input {
  margin-right: 10px;
}

.select-all-container .buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons */
}

.select-all-container button {
  margin-left: auto;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #ad2831;
  color: white;
  cursor: pointer;
}

#messageList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex: 1; /* Allow it to grow and shrink as needed */
}

#messageList li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 30px;
  background-color: #f3f4f6; /* bg-gray-100 */
  border: 1px solid #ccc;
  border-radius: 8px; /* rounded-xl */
  cursor: move;
}

.sortable-ghost {
  opacity: 0;
}

.sortable-chosen {
  background-color: #e5e7eb; /* Slightly darker background for the chosen element */
  border: 1px solid #ccc;
}

pre {
  margin: 0;
  padding: 8px;
  background-color: #e5e7eb; /* Slightly darker background for the pre element */
  border-radius: 4px; /* rounded */
  font-family: monospace, monospace;
  font-weight: 500;
  font-size: 12px;
  flex-grow: 1;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Custom context menu styles */
.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px;
}

.context-menu-item {
  padding: 8px;
  cursor: pointer;
  white-space: pre-wrap; /* Preserve whitespace and line breaks */
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.context-menu-item:hover {
  background-color: #f0f0f0;
}

.select-all-label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: transparent;
}

/* Apply styles to the textarea */
#textarea-container {
  position: relative;
  width: 100%;
  height: 80px;
}

#yamlInput {
  width: 100%;
  height: 80px;
  border: none; /* Remove all borders */
  border-top: 0.5px solid #000; /* Set only the top border */
  box-sizing: border-box;
  font-family: SUITE, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#actionButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #ad2831;
  color: white;
  cursor: pointer;
}
.full-width-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

/* Override Bootstrap modal styles if needed */
.modal-content {
  background-color: #FFFAFA; /* Example override */
}

/* Ensure modal input field styles are consistent */
.modal-body input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
